DEBUG=True
SECRET_KEY=secret
ALLOWED_HOSTS=80.87.107.15,localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:3000,http://backend,http://backend:8000,http://80.87.107.15
CSRF_TRUSTED_ORIGINS=http://localhost,http://localhost:3000,http://backend,http://backend:8000,http://80.87.107.15
DB_HOST=db
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432
